/* FOr TABLE FILETER */
table 
{
    table-layout:fixed;
    word-break: break-word;
	width:100%;
}

th, td {
    /*padding: 5px;*/
	text-align: center;
	font-weight: bold;
}

tr:hover 
{
background-color: #4CAF50 !important;
color: black;
}

th {
    background-color: #4CAF50;
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
   background-color:#fff;
}	